version: "3.9"

services:
  db:
    image: ankane/pgvector
    container_name: ai_doc_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: aidoc
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: ai_doc_redis
    ports:
      - "6379:6379"
volumes:
  postgres_data: